.container {
  padding: 0 2rem;
  position: relative;
}

.main {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.serialsContainer {
  position: absolute;
  padding: 30px;
  right: 0;
}

.serialButton:hover {
  box-shadow: 0 0 0 3px white;
}

.serialButton:active {
  box-shadow: 0 0 0 3px red;
}

.breakingBadIcon {
  width: 80px;
  height: 80px;
}

.strangerThingsIcon {
  width: 80px;
  height: 80px;
}

.gameOfThronesIcon {
  width: 80px;
  height: 80px;
}

.author {
  padding-bottom: 20px;
}

.shuffleButton {
  position: absolute;
  bottom: 150px;
}

.shuffleIcon {
  color: white;
  transform: scale(5);
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 2px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }

  .logo img {
    filter: invert(1);
  }
}